<div *ngIf="onIsLogged()">
  <nav class="navbar navbar-expand-lg navbar-light bg-black py-4">
    <div class="container">
      <a class="navbar-brand text-white" href="/">Inicio</a>
      <div class=" navbar-collapse">
        <ul class="navbar-nav me-auto ps-5 mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link active text-white" href="/productos">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/item">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/item">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/item">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/item">Item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active text-white" href="/item">Item</a>
          </li>
        </ul>
        <div class="text-white">Hola usuario!</div>
        <div class="d-flex">
          <button type="button" class="btn btn-secondary px-3" (click)="logout()">
            Cerrar Sesión
          </button>
        </div>
      </div>
    </div>
  </nav>
</div>
